@page "/"

<div class="container d-flex flex-column vh-100">
    <div class="text-center">
        <h3>Welcome to Stefan ChatGpt</h3>
        <p>I'm here to assist you !</p>
    </div>
    <div class="flex-grow-1">
        <div class="row p-2">
            <div class="col-1 rounded-circle bg-dark-subtle text-center m-2 p-0" style="width:50px;height:50px;">
                <span class="bi fs-2"></span>
            </div>
            <div class="col-11 rounded p-3 shadow-sm">
                <p>Message</p>
            </div>
        </div>
    </div>
    <div class="sticky-bottom w-50 p-3 rounded mx-auto"></div>
    <button class="btn btn-primary">
        <span class="bi bi-eraser"></span>
    </button>
    <textarea rows="2" class="form-control" placeholder="How may i help you? ..."></textarea>
</div>
